<!--Pricing Page-->

<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">
  <h1 class="text-center">PRICING</h1>
  <br /><br />
  <div class="row">
    <div class="col-md-3 text-center">
    	<!--added panel class to create rounded borders on table, needed separate div tag else table bacame too wide-->
    	<div class="panel panel-default">
    	<table class="table table-bordered">
    		<thead>
    			<tr>
    				<th class="table-header-basic">
    					<p class="text-center table-header-package">
    						Basic
    					</p>
    					<p class="text-center table-header-price">
    						$200
    					</p>
    					<p class="text-center">
    						per pedalboard
    					</p>
    				</th>
    			</tr>
    		</thead>
    		<tbody>
    			<tr>
    				<td class="table-data-basic">
    					<br />
    					<b>
    					<p>
    						Oak Plywood, Premium Softwoods
    					</p>
    					<p>
    						¼” input and output
    					</p>
    					<p>
    						A/C jack
    					</p>
    					<p>
    						All standard features
    					</p>
    					<p>
    						100% satisfaction
    					</p>
    					</b>
    					<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
												<input type="hidden" name="cmd" value="_s-xclick">
												<input type="hidden" name="hosted_button_id" value="MNXYPBQVSU5EN">
												<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to 		pay online!">
												<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
											</form>
    				</td>
    			</tr>
    		</tbody>
		</table>
		</div>
	</div>
	<div class="col-md-3 text-center">
		<div class="panel panel-default">
    	<table class="table table-bordered">
    		<thead>
    			<tr>
    				<th class="table-header-premium">
    					<p class="text-center table-header-package">
    						Premium
    					</p>
    					<p class="text-center table-header-price">
    						$260
    					</p>
    					<p class="text-center">
    						per pedalboard
    					</p>
    				</th>
    			</tr>
    		</thead>
    		<tbody>
    			<tr>
    				<td class="table-data-premium">
    					<br />
    					<b>
    					<p>
    						Oak Plywood, Premium Softwoods
    					</p>
    					<p>
    						Up to 4 jacks, A/C jack
    					</p>
    					<p>
    						Power supply, 10 Outputs
    					</p>
    					<p>
    						All Standard Features
    					</p>
    					<p>
    						100% Satisfaction
    					</p>
    					</b>
    					<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
												<input type="hidden" name="cmd" value="_s-xclick">
												<input type="hidden" name="hosted_button_id" value="2L4XDTQM8QLJY">
												<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
												<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
											</form>
    				</td>
    			</tr>
    		</tbody>
		</table>
		</div>
	</div>
	<div class="col-md-3 text-center">
		<div class="panel panel-default">
		<table class="table table-bordered">
    		<thead>
    			<tr>
    				<th class="table-header-professional">
    					<p class="text-center table-header-package">
    						Professional
    					</p>
    					<p class="text-center table-header-price">
    						$300
    					</p>
    					<p class="text-center">
    						per pedalboard
    					</p>
    				</th>
    			</tr>
    		</thead>
    		<tbody>
    			<tr>
    				<td class="table-data-professional">
    					<br />
    					<b>
    					<p>
    						Oak Plywood, Oak Boards
    					</p>
    					<p>
    						Jack Plate, up to 10 Jacks, A/C jack
    					</p>
    					<p>
    						Power Supply, 10 Outputs
    					</p>
    					<p>
    						All Standard Features
    					</p>
    					<p>
    						100% Satisfaction
    					</p>
    					</b>
						<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
												<input type="hidden" name="cmd" value="_s-xclick">
												<input type="hidden" name="hosted_button_id" value="NJ9CDV4X7KHFY">
												<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
												<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
											</form>
    				</td>
    			</tr>
    		</tbody>
		</table>
		</div>
	</div>
	<div class="col-md-3 text-center">
		<div class="panel panel-default">
		<table class="table table-bordered">
    		<thead>
    			<tr>
    				<th class="table-header-custom">
    					<p class="text-center table-header-package">
    						Custom
    					</p>
    					<p class="text-center table-header-price">
    						$200 and up
    					</p>
    					<p class="text-center">
    						starting at $200 per pedalboard
    					</p>
    				</th>
    			</tr>
    		</thead>
    		<tbody>
    			<tr>
    				<td class="table-data-custom">
    					<br />
    					<b>
    					<p>
    						Choose Your Wood and Stain
    					</p>
    					<p>
    						Custom Inputs and Outputs
    					</p>
    					<p>
    						Special Order Power Supply
    					</p>
    					<p>
    						Get Specific Board Dimensions
    					</p>
    					<p>
    						100% Satisfaction
    					</p>
    					</b>
    					<button type="button" class="btn btn-primary">Select</button>
    				</td>
    			</tr>
    		</tbody>
		</table>
		</div>
	</div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
    	<br />
  		<form class="align_center" target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post" >
							<input type="hidden" name="cmd" value="_cart">
							<input type="hidden" name="business" value="A58PHNKCZDLFE">
							<input type="hidden" name="display" value="1">
							<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_viewcart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
							<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
						</form>
	</div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
    	<h2>All You <span class="text-muted">Need to Know</span></h2>
    </div>
  </div>
  <br /><br />
  <div class="row">
  	<div class="col-md-1 text-center text-left">
  		<br />
    	<i class="fa fa-wrench fa-lg fa-4x"></i>
    	<br /><br /><br /><br /><br /><br /><br />
    	<i class="fa fa-exchange fa-lg fa-4x"></i>
    	<br /><br /><br /><br /><br /><br />
    	<i class="fa fa-comments-o fa-lg fa-4x"></i>
    </div>
    <div class="col-md-5 text-center">
    	<h3 class="text-left">Need a Custom Pedalboard?</h3>
    	<br />
    	<p class="text-left">Let us know what you need and we will work with you to get all the details. It is important to us that you get exactly what works for you. We will work our magic to construct your new pedalboard.</p>
    	<br />
    	<h3 class="text-left">We are Very Flexible!</h3>
    	<br />
    	<p class="text-left">If you are on a budget we will help you get a custom design that minimizes your cost.</p>
    	<br />
    	<h3 class="text-left">Do You Have any Questions?</h3>
    	<br />
    	<p class="text-left">Please Don't Hesitate to <a>Contact Us!</a></p>
    </div>
    <div class="col-md-6 text-center">
    	
    	
    	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <i class="fa fa-question-circle pull-left">&nbsp;&nbsp;Why should I purchase a pedalboard from you?</i>
          &nbsp;
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        Because you are guaranteed to get exactly what you want, at the price that you want. Our policy is 100% customer satisfaction, so if you are not satisfied, you will get your money back.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <i class="fa fa-question-circle pull-left">&nbsp;&nbsp;Why bother with a high quality pedalboard?</i>
          &nbsp;
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        To ensure that you will have it for a long time, and so that it doesn't look bad sitting out in the open. Our pedalboards close up to hide all the wires and pedals so that it can blend in with the rest of your furniture. Let us know if you require a certain stain to match your home.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <i class="fa fa-question-circle pull-left">&nbsp;&nbsp;What forms of payment do you accept?</i>
          &nbsp;
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        Right now we only accept paypal. If this does not work for you we may also accept check or money ordering.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <i class="fa fa-question-circle pull-left">&nbsp;&nbsp;If I want something special, can you make it for me?</i>
          &nbsp;
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        Absolutely! Contact us with what you want and we can help you decide on every detail.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <i class="fa fa-question-circle pull-left">&nbsp;&nbsp;How do your pedalboards stand out from otheres?</i>
          &nbsp;
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        Our pedalboards are like a piece of furniture, we make them blend in to your home. We also include a removable protective lid for traveling or for hiding the electronics.
      </div>
    </div>
  </div>
</div>



    </div>
  </div>
</div>
